{% extends 'base.html' %}

{% load staticfiles %}

{% load task_extras %}

{% block title %} Task list {% endblock %}

{% block content %}
  {% if not task_list %}

    <div class="dialog">
      <h1>There're no tasks created..still.<br/> But you can change it! </h1>

      <div class="create">
        <a href="{% url 'task_factory' %}">Create!</a>
      </div>

    </div>
    {% else %}
      {% for item in task_list %}

        <div class="task">
          <a href="{% url 'task_detail' pk=item.pk %}">
            <header>

              <div class="id">
                <p> Task #{{ item.id }} </p>
              </div>

            </header>

            <div class="descr">

              <div class="action">
                <p> Action: {{ item.action }}</p>  
              </div>

              <div class ="bin">
                <p> Trashbin: {{ item.trashbin}} </p>
              </div>

              <div class="modes">
                <h3> Modes: </h3>
                {% ifequal item.dryrun_mode True %}
                  <p>Dryrun mode </p>
                {% endifequal %}
                {% ifequal item.permanent_mode True %}
                  <p>Permanent mode </p>
                {% endifequal %}
                {% ifequal item.recursive_mode True %}
                  <p>Recursive mode </p>
                {% endifequal %}
              </div>

              <div class="status">
                <h3> Complete status: </h3>
                {% ifequal item.action "RS" %}
                  <img src="{% static 'images/reuse.png' %}">
                {% endifequal %}
                {% ifequal item.action "RM" %}
                  <img src="{% static 'images/tbin.png' %}">
                {% endifequal %}
                {% ifequal item.dryrun_mode True %}
                  <img src="{% static 'images/warning.png' %}">
                {% endifequal %}
                
                {% ifnotequal codes|get_item:item.id 0 %}
                  <img src="{% static 'images/failed.png' %}">
                  <p> With errors </p>
                {% else %}
                  <img src="{% static 'images/ok.ico' %}">
                  <p> Sueccess </p>
                {% endifnotequal %}
              </div>

            </div>

          </a>
          
        </div>
      {% endfor %}
  {% endif %}
{% endblock content %}