{% extends 'base.html' %}

{% load staticfiles %}

{% load task_extras %}

{% block title %} Task #{{ task.id }} {% endblock %}

{% block content %}
<form method="POST">{% csrf_token %}
  <fieldset>
    <legend>
      Task #{{ task.id }}
    </legend>

    <div class="descr">

      <div class="action">
        <p> Action: {{ task.action }}</p>  
      </div>

      <div class ="bin">
        <p> Trashbin: {{ task.trashbin }} </p>
      </div>

      <div class="modes">
      <h3> Modes: </h3>
      {% ifequal task.dryrun_mode True %}
        <p>Dryrun mode </p>
      {% endifequal %}
      {% ifequal task.permanent_mode True %}
        <p>Permanent mode </p>
      {% endifequal %}
      {% ifequal task.recursive_mode True %}
        <p>Recursive mode </p>
      {% endifequal %}
      </div>

      <div class="result">
        <table>
          <tr>
            <th class="img"> Result </th>
            <th class="msg"> Message </th>
            <th class="path"> Source path </th>
            <th class="path"> Destination path </th>
          </tr>
          {% for r in res %}
          <tr>
            {% ifnotequal r|get_by_index:0 0 %}
              <td class="img"> 
                <img src="{% static 'images/failed.png' %}"> 
              </td>
            {% else %}
              <td class="img"> 
                <img src="{% static 'images/ok.ico' %}"> 
              </td>
            {% endifnotequal %}
              <td class="msg"> 
                <div class="text_wrapper">{{r|get_by_index:1}}</div> 
              </td>

              <td class="path"> 
                <div class="text_wrapper">{{r|get_by_index:2}}</div> 
              </td>
            
              {% if r|get_by_index:3 == None %}
                <td class="path"> 
                  <div class="text_wrapper">----</div> 
                </td>
              {% else %}
                <td class="path"> 
                  <div class="text_wrapper">{{r|get_by_index:3}}</div> 
                </td>
              {% endif %}
          </tr>
          {% endfor %}

        </table>
      </div>
    </div>
    
    <div class="button">
      <input type="submit" name="remove" value="Remove">
    </div>
    
  </fieldset>
  </form> 
{% endblock content %}