{% extends 'base.html' %}

{% block title %} Create task.. {% endblock %}

{% block content %}
  <form class="factory" method="POST">{% csrf_token %}
    <fieldset>
      <legend>
        Create a new task!
      </legend>

      {{ form.as_p }}

      <div class="button">
        <input type="submit" name="create" value="Create!">
      </div>

      <div class="filetree">
        <h2> Select files to remove: </h2>

        {% for key, value in root.iteritems %}

          <div class="dir">
            <button class="expander" type="button" name="{{key}}"" value="+">+</button>
            <input type="checkbox" name="{{key}}" value="{{key}}""> 
            <label for="{{key}}">{{value}}</label>
          </div>

        {% endfor %}
        
        {% for k, v in files.iteritems %}

          <div class="file">
            <input type="checkbox" value="{{k}}" name="{{k}}">
            <label for="{{k}}">{{v}}
          </div>

        {% endfor %}
      </div>
    </fieldset>
  </form> 
{% endblock content %}  