* {
  margin: 0;
  padding: 0; 
}

/* 


NAV BAR


*/

nav {
  position: fixed;
  top: 0px !important;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 1%;
  background-color: rgba(127, 127, 127, 0.3);
}

nav a {
  width: 10%;
  margin: 0 1%;
  color: white;
  text-align: center;
  text-decoration: none;  
  font-size: 2em;
  font-weight: bold;
  padding: 0.5%;
  transition: 0.5s;
}

nav a:hover {
  border-radius: 15px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}



/* 


EMPTY DIALOG


*/

.dialog {
  padding: 5%;
  width: 65%;
  margin: auto;
  border: 1px solid rgba(127, 127, 127, 0.3);
  border-radius: 30px;
  text-align: center;
  font-family: Oxygen, serif;
}

.dialog > h2 {
  color: black;
  font-size: 3em;

}

.dialog > .create {
  padding-top: 5%;
  width: 65%;
  margin: auto;
  text-align: center;
  font-family: Oxygen, serif;
}

.create > a, .button > a {
  padding: 3% 10%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  transition: 0.5s;

}

.create:hover a, .button:hover a {
  padding: 5% 14%;
  background-color: transparent;
  color: black;
  border-color: black;
  font-size: 1.65em;
  transition: 0.5s;
}

.content {
  margin: auto;
  width: 60%;
  padding: 5% 5% 10% 5%;

}

/*


CREATE FORM


*/

.factory {
  overflow: hidden;
  width: 80%;
  margin: auto;
  padding: 5%;
}

fieldset {
  padding: 4%;
  width: 55%;
  margin: auto;
  border-color: rgb(127, 127, 127);
  border-radius: 25px;
  border-style: dashed;
  font-family: Oxygen, serif;
}

fieldset > legend {
  margin:0 10% 0 10%;
  text-align: center;
  font-size: 2.15em;
  font-weight: bold;
  letter-spacing: 0.1em;
}

fieldset > p {
  padding: 2%;
  display: flex;
  align-items: center;
  color: gray;
  font-size: 1.25em;
}

fieldset label {
  width: 35%;
  flex-grow: 1;
  font-size: 1.1em;
}

fieldset input[type="text"], [type="number"] {
  width: 65%;
  margin-left: 1%;
  font-size: 1.1em;
}

fieldset input[type="submit"] {
  margin: 2.5%;
  padding: 3% 8%;
  border:1px solid gray;
  border-radius: 10px;
  background-color: transparent;
  font-family: Oxygen, serif;
  font-size: 1.25em;
}

fieldset input[type="number"]::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

fieldset select {
  width: 65%;
  padding: 1.5%;
  border: none;
  border-radius: 15px;
  color: white;
  background: rgb(109, 165, 255);
  font-style: Oxygen, serif;
  font-size: 1.05em;
  letter-spacing: 0.25em;
  outline: 0px;
}

fieldset option {
  border-radius: 15px;
}

.button {
  width: 85%;
  margin: auto;
  text-align: center; 
}

.policy {
  width: 100%;
  margin: auto;
  font-weight: bold;
}

#capacity {
  float: right;
  text-align: right;
}

#size {
  float: right;
  clear: both;
  text-align: right;
}

input[type="submit"]:focus {
  border-color: gray;
  box-shadow: inset 0 0 10px gray;
  outline: 0px;
}

.bin_content {
  padding: 3%;
  clear: both;
}

.bin_content h2 {
  text-align: center;
}

.bin_content ul {
  height: 300px;
  border: 1px solid black;
  overflow: auto; 
  list-style: none;
}

.bin_content li {
  padding: 5%;
  border-bottom: 1px solid gray;
}

.bin_content li:nth-child(even) {
  background: rgb(201, 213, 232);
}

.bin_content li:last-child {
  border-bottom: none;
}

.bin_item {
  margin-left: 5px;
}

.restore {
  display: flex;
  align-items: flex-start;
}

.source {
  border-bottom: 1px solid black;
  padding-bottom: 3%;
}

.empty > p {
  padding: 25% 0%;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 2em;

}

.filetree {
  box-sizing: border-box;
  height: 500px;
  width: 400px;
  overflow: auto;
  display: flex; 
    flex-direction: column;
  word-wrap: break-word;
}

.expander {
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  outline: 0px;
}

.subdirs {
  padding: 0.5%;
  box-sizing: border-box;
  border-left: 1px solid black;
  border-bottom: 1px solid dashed;
  margin-left: 5%;
  word-wrap: break-word;
}

.file {
  padding: 0.5%;
  color: rgb(109, 165, 255);
  font-style: oblique;
}

.filetree label {
  margin-left: 1%;
}

input[type=checkbox] {
  width: 30px;
}


/*


ITEM LIST


*/


.trashbin, .task {
  border: 2px solid black;
  border-radius: 40px;
  padding: 3% 5%;
  width: 45%;
  margin: auto;
  margin-top: 7%;
  background-color: rgba(127, 176, 255, 0.3);
  font-family: Oxygen, serif;
  transition: 0.5s;
}

.trashbin > a, .task > a {
  color:inherit;
  text-decoration: none;
}

.trashbin header, .task header {
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: 1px solid white;
  transition: 0.5s;
}

.trashbin .id {
  font-size: 1.85em;
  text-align: center;
}

.descr {
  font-size: 1.5em;
  line-height: 1.23em;
}

.value {
  float:right;
  color: white;
  font-weight: bold;
  transition: 0.5s;
}

.trashbin:hover, .task:hover {
  border: 2px solid rgba(127, 176, 255, 0.95);
  color: rgba(127, 176, 255, 0.95);
  background-color: white;
  transition: 0.5s;
}

.trashbin:hover .value, .task:hover > .id {
  border-color: black;
  color: black;
  transition: 0.5s;
}

.trashbin:hover header {
  border-color: black;
  transition: 0.5s;
}

.action {
  margin: 4% 0%;
  font-size: 2.75em;
}

.modes {
  margin-top: 5%;
}

.status {
  vertical-align: middle;
}

.status > img {
  vertical-align: middle;
  float: right;
  width: 10%;
}

.status_title {
  font-weight: bold;
  font-size: 1.2em;
}

.errorlist {
  color: red;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
}

.result {
  height: 400px;
  overflow: auto;
}

.result table {
  margin-top: 3%;
  width: 150%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 0.75em;
}

.result  th, td {
  padding: 1%;
  text-align: center;
}

.result td {
  
  word-wrap: break-word;
}

.text_wrapper {
  width: 100%;
  height: 60px;
  overflow: auto;
}

.result tr:nth-child(even) {
    background-color: #dddddd;
}

.result img {
  width: 100%;
}

.img {
  width: 5%;
}

.msg {
  width: 30%;
  vertical-align: middle;
}

.path {
  width: 32.5%;
}
