{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet'>
  <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.js' %}"></script>
</head>
<body>
  <nav>
    <a href="{% url 'index' %}"> Home </a>
    <a href="{% url 'factory' %}">Bin factory
    </a>
    <a href="{% url 'task_list' %}">Task list</a>
    <a href="{% url 'task_factory' %}">Create task</a>
  </nav>

  <div class="content">
    {% block content %} {% endblock %}
  </div>
</body>
</html>