{% extends 'base.html' %}

{% block title %}Create trashbin..{% endblock %}

{% block content %}
  <form class="factory" method="POST">
    <fieldset>
      <legend>Create a new trashbin!</legend>
      {% csrf_token %}
      {{ form.as_p }}
      <div class="button">
        <input type="submit" name="create" value="Create!">
      </div>
    </fieldset>
  </form> 
{% endblock content %}