{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if not bin_list %}
    <div class="dialog">
      <h1>There're no trashbins created..still.<br/> But you can change it! </h1>
      <div class="create">
        <a href="{% url 'factory' %}">Create!</a>
      </div>
    </div>
    {% else %}
      {% for item in bin_list %}
        <div class="trashbin">
          <a href="{% url 'trashbin_detail' pk=item.id %}">
            <header>
              <div class="id">
                <p> Trashbin #{{ item.id }} </p>
              </div>
            </header>

            <div class="descr">

              <p> Path: <span class="value">{{ item.path_to_storage }}</span> </p>

              <p> Storage size: <span class="value">{{ item.storage_size }} </span> </p>

              <div class="policies">
                <p> Max file count: <span class="value">{{ item.policy_max_file_count }} </span></p>
                <p> Max content size: <span class="value">{{ item.policy_max_size }} </span></p>
                <p> Max store time: <span class="value">{{ item.policy_max_store_time }}</span> </p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
  {% endif %}
{% endblock content %}