{% extends 'base.html' %}

{% block title %} Trashbin #{{ trashbin.id }} {% endblock %}

{% block content %}
  <form class="factory" method="POST">{% csrf_token %}
    <fieldset>
      <legend>
        Trashbin #{{ trashbin.id }}
      </legend>

        {{ form.as_p }}

      <p id="capacity"> Capacity:  {{ trashbin.count_files }} / {{ trashbin.policy_max_file_count }} </p>
      <p id="size"> Content size: {{ trashbin.get_size }} / {{ trashbin.storage_size }} </p>
      
      {% if capacity > trashbin.count_files %}

        <div class="policy">
          <p> Some files were cleaned up </p>
        </div>

      {% endif %}

      <div class="bin_content">
        <h2> Trashbin content: </h2>
        <ul>
            {% for source, dest in trashbin.get_content %}

              {% if not source and not dest %}
                <li class="empty"> <p> Empty </p> </li>
              {% else %}
                <li> 
                  <p class="source">
                    Source path: {{source}} 
                  </p>
                  <p class="dest">Destination name: {{dest}} </p>
                </li>
              {% endif %}

            {% endfor %}
        </ul>
      </div>
      <div class="button">
        <input type="submit" name="save" value="Save">
      </div>
      <div class="button">
        <input type="submit" name="remove" value="Remove">
      </div>
    </fieldset>
  </form> 
  
{% endblock content %}
